*.so
*.o
doc
AlignChk
CacheClient       
DebugInfo     
ImageTests
JitProfilingApiTests  
MaskVector  
MyPinTool
SegmentsVirtualization  
SyscallsEmulation
AndroidTests  
ChildProcess      
DebugTrace    
Insmix
MacTests              
Memory      
pintool.tscons-extension  
SegTrace
Tests
andshell.py   
Config            
GracefulExit  
InstLib
Maid                  
MemTrace    
Probes                    
SignalTests
ToolUnitTests
AttachDetach  
CrossIa32Intel64  
I18N          
InstLibExamples
makefile              
Mix         
Regvalue                  
Utils
Buffer        
Debugger          
IArg          
InstrumentationOrderAndVersion
ManualExamples        
Mmx         
Replay                    
SyncTests
extras
ia32
intel64
LICENSE
pin
pin.sh
README
redist.txt
include
launcher
